@import "../helpers/_mixins";
@include fontFace('angelina','assets/fonts/angelina');

h2 {
	color:#5a2937;
	font-family:'angelina';
	font-size: 60px;
	letter-spacing: 2px;
	text-align: center;
}
#aboutUs {
	padding: 5% 0%;
	p {
		line-height: 2;
		margin-bottom: 40px;
	}
	.content img {
		max-width: 220px;
		width: 100%;
		float:right;
	}
	.content {
		margin-top: 40px;
	}
	h4 {
		color: #00a99d;
		font-weight: bold;
		letter-spacing:1px;
	}
	.insta {
		margin-bottom: 60px;

		img {
			width:5%;
			margin: auto;
		}

		svg {

			#instagram-back,
			#facebook-back {
				fill: #00a99d;
			}

			#instagram-instagram,
			#facebook-facebook {
				fill: #fff;
			}
		}
	}
}