header {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	// position:relative;
	// color:#fff;
	// width: 100%;
	// h1 {
	// 	font-size:80px;
	// 	font-weight: bold;
	// 	letter-spacing: 1px;
	// 	position:relative;
	// 	top:180px;
	// 	word-spacing: 5px;

	// }
	// p {
	// 	font-size:25px;
	// 	font-weight: bold;
	// 	letter-spacing: 4px;
	// 	margin: 0px;
	// 	position:relative;
	// 	top:170px;
	// }


	#slider {

		width: 100%;
	    margin: 0;
	    padding: 0;
	
		 li {
		    height: 100vh !important;
		    background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;

		    &:before {
		    	content:'';
		    	position: absolute;
		    	top:0;
		    	bottom:0;
		    	right: 0;
		    	left: 0;
		    	background-color: rgba(0,0,0,0.3);
				background-color: rgba(0, 0, 0, 0.4);
				background: rgba(0, 0, 0, 0.4);
				color: rgba(0, 0, 0, 0.4);
		    }
		}
	}
}
.slider_text {
	position: relative;
	width: 100%;
    height: 100vh;

	.img_first {
		width: 40%;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}