#services {
	padding: 5% 0%;

	.row {
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	    margin-bottom: 20px;
	}

	.visible {
		h3 {
			width: 100%;
			padding-bottom: 10px;
			position: absolute;
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    margin: 0;
		    font-size: 18px;

		    &:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				left: 50%;
				border-bottom: 1px solid #fff;
				width: 200px;
				-webkit-transform: translate(-50%, 0%);
				-moz-transform: translate(-50%, 0%);
				-o-transform: translate(-50%, 0%);
			    transform: translate(-50%, 0%);
			}
		}
	}

	.imagen {
		display: inline-block;
		position: relative;
		width: 30%;
		height: 400px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: #fff;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba(0,0,0,0.5);
		}

		.imagenHover {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba(0,0,0,0.9);
			opacity: 0;
			text-align: left;
			padding: 20px;
			-webkit-transition: all 0.6s ease;
			-moz-transition: all 0.6s ease;
			-o-transition: all 0.6s ease;
			transition: all 0.6s ease;

			&:hover {
				opacity: 1;
			}

			button {
				position: absolute;
				bottom: 10%;
				left: 50%;
				outline: none;
				-webkit-transform: translate(-50%, 0%);
				-moz-transform: translate(-50%, 0%);
				-o-transform: translate(-50%, 0%);
			    transform: translate(-50%, 0%);
			}

		}

		h5 {
			font-weight: bold;
			position: relative;
			padding-bottom: 10px;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				border-bottom: 1px solid #fff;
			}

		}
	}

	.imagen.imagen-01 {
		background-image: url('assets/img/servicios/imagen-01.jpg');
	}
	.imagen.imagen-02 {
		background-image: url('assets/img/ser2.jpg');
	}
	.imagen.imagen-03 {
		background-image: url('assets/img/servicios/imagen-03.jpg');
	}
	.imagen.imagen-04 {
		background-image: url('assets/img/servicios/imagen-04.jpg');
	}
	.imagen.imagen-05 {
		background-image: url('assets/img/servicios/imagen-05.jpg');
	}
	.imagen.imagen-06 {
		background-image: url('assets/img/servicios/imagen-06.jpg');
	}

	.modal {
		background-color:rgba(0,0,0,1);
		position: fixed;
	}

	.contenedorModal {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#form {
		margin: 20px;
		max-width: 400px;
		position:relative;
		background-color: rgba(0,0,0,0.7);
		color:#fff;
		text-align: left;
		color:#fff;


		button.close {
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			bottom: auto;
			width: auto;
			transform: translate(0);
			background-color: transparent;
			border-bottom: transparent;

		}

		h3 {
			position: relative;
		    top: 0;
		    left: 0;
		    transform: translate(0);
		}

		.mod {
			font-size:40px;
			color:#fff;
			opacity:1;
		}

		input {
			background-color:transparent;
			border:transparent;
			border-bottom:1px solid #eee;
			width: 100%;
			margin-bottom: 5%;
			outline: none;
			color:#fff;
		}

		.datos {
			width: 49%;
			display: inline-block;
		}
		
		select {
			background-color:#333;
			border:transparent;
			outline: none;
			padding: 0px;
			color:#fff;
			margin: 10px 0;
			width: 100%; 
		}

		textarea {
			background-color: transparent;
			border: 1px solid #fff;
			padding: 5px;
			margin: 10px 0;
			outline: none;
			resize: none;
			color:#fff;
			width:100%;
			height: 200px;
		}

		button {
			width: 100%;
		}
	}
}

button {
	background-color: #00a99d;
	border: transparent;
	border-bottom: 3px solid #02423c;
	border-radius: 2px;
	padding: 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	outline: none;

	&:hover {
		background-color: #02423c;
		border-bottom: 3px solid #00a99d;
		outline: none;
	}

}